<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>임철홍의 페이지입니다</title>

    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css?ver=1}">
<!--    <link rel="stylesheet" type="text/css"-->
<!--          href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>-->


</head>
<body class="body">


<main class="main">


    <div class="button-container">


        <h1 class="hello-world">반갑습니다! Developer임철홍입니다.</h1>

        <span class="spring"></span>
        <span class="button">─</span>
        <span class="button">ㅁ</span>
        <span class="button">Ⅹ</span>

    </div>


    <!--어바웃미-->
    <div class="about-me-container">

        <h1 class="title">About Me</h1>

        <div class="content">
            <div class="text">
                <p>서비스업에 종사하던 지난날,</p>

                <p>매일 퇴근 후 '내가 계속 사랑할 수 있는 일은 무엇일까?'를 생각했습니다.</p>
                <!--                    <div></div>-->
                <p>그리고 저는 취미와 특기였던 창작과 컴퓨터를 활용하여 프로그래밍 공부를 시작하게 되면서</p>
                <!--                <div></div>-->
                <p>그 동안 몰랐던 저의 가치를 발휘하고 있음을 느낍니다.</p>
                <p>갈길이 멀다는 것도 잘 알고 있기에</p>
                <!--                <div></div>-->
                <p>더욱 변화를 위해 노력하는 모습 보여 드리겠습니다.</p>

            </div>


                <img class="image" src="/resources/images/me.jpg" alt="">

        </div>


    </div>

    <div class="contact-container">

        <h1 class="title">Contact</h1>

        <div>
        <p>Cheol Hong Lim</p>
        <p>Tel : 010-6654-1877</p>
        <p>Email : jjirong2e@naver.com</p>
        <a href="https://github.com/limPage">Github : https://github.com/limPage</a>

        </div>
    </div>


    <div class="education-container">
        <h1 class="title">Education</h1>
        <div>
        <p> python 22.05.11-07.06</p>
        <!--                    <div></div>-->
        <p> java 22.06.09-08.08</p>
        <!--                    <div></div>-->
        <p> sql 22.08.03-08.17</p>
        <!--                    <div></div>-->
        <p> 임베디드 풀스택 개발자 양성과정 22.08.25-23.1.31</p>

    </div>
    </div>



    <div class="skill-container">
        <h1 class="title">Skill</h1>

        <div class="content">

            <ul class="my-skill">
                <li>
                    <div >
                        <img src="/resources/images/java.png" alt="java" title="java">
                        <strong>JAVA</strong>

                        <p>클래스 정의, 객체 생성, 생성자, 메소드를 활용한 객제지향 프로그래밍</p>
                        <p>자료 구조, 제이슨 오브젝트 배열 구조를 이해하고 이를 응용</p>
                    </div>
                </li>
                <li >
                    <div >

                        <img src="/resources/images/mariaDB.png" alt="mariaDB" title="mariaDB">
                        <img src="/resources/images/mysql.png" alt="mySQL" title="mySQL">
                        <strong>SQL(mariaDB mySQL)</strong>


                        <p>서버연결 및 사용자 생성, 관계형 데이터 베이스의 CRUD처리 쿼리 사용</p>
                        <p>기본키 외래키 등의 제약 조건과 JOIN을 통한 데이터 관리</p>
                    </div>

                </li>
                <li >
                    <div >

                        <img src="/resources/images/CSS3_logo.jpg" alt="css" title="css">
                        <img src="/resources/images/html5.jpg" alt="html" title="html">
                        <img src="/resources/images/javascript.png" alt="js" title="js">

                        <strong>CSS,HTML,JS</strong>


                        <p>사용자 경험과 목표를 충족시켜줄 수 있는 사용자 인터페이스를 중점으로 화면 설계 및 구현</p>
                    </div>

                </li>
                <li >
                    <div >

                        <img src="/resources/images/springbootlogo.png" alt="springboot"
                             title="springboot">

                        <strong>SPRING BOOT</strong>


                        <p>스프링 부트 개발환경을 구성하여 웹 프로그램을 구현</p>
                    </div>
                </li>
                <li >
                    <div >

                        <img src="/resources/images/vkdlTjs.png" alt="python" title="python">

                        <strong>PYTHON</strong>


                        <p>기초 프로그래밍과 라이브러리 연결 및 활용 경험</p>
                    </div>

                </li>



                <li>
                    <div >

                        <img src="/resources/images/C.png" alt="c#"
                             title="c#">

                        <strong>C# Arduino</strong>


                        <p>아두이노 기반 mcu 펌웨어 프로그래밍
                            마이크로컨트롤러와 ui간 사용자 입/출력 프로그래밍 구현 경험</p>
                    </div>
                </li>


            </ul>


        </div>


    </div>
    <div class="tool-container">

        <h3 class="title">Tools</h3>
        <div>
        <p>VScode Eclipse Pycharm Intellij Github</p>
        </div>

    </div>

    <!--        프로젝트-->
    <div class="project-container">
        <h2 class="title">Project</h2>


        <div class="content">
            <a href="https://limpage.alllim.dev">
            <img src="/resources/images/landing1.PNG" alt="" title="랜딩페이지1">
            </a>

            <div class="text-box">
                <h2>No.1 랜딩페이지</h2>
                <span>첫 프로젝트는 개인으로 만들게된 랜딩페이지 입니다. 스크롤 없이 한 화면에서 전체 내용을 볼 수 있도록 화면 전환으로 정보를 나타내는 형식으로 디자인 하였습니다.
                            여백의 활용과 큼직한 구성 요소 디자인으로 자연스럽게 중요정보에 시선이 가도록 유도하였습니다. 피보나치 나선,황금나선이라고 불리는 신분증이나 카드에 적용되고 있는 황금비를 참조하여
                            대략적으로 적용해 보았습니다. 사실상 처음으로 만들어 본 웹 페이지라서 부족한 부분과 서툰 점이 많았던 것 같습니다.
                        만드는 동시에 전에 몰랐던 점들도 배우게 되는 기회였습니다.</span>
                <a href="https://github.com/limPage/publicLimPage">Github</a>
                <a href="https://limpage.alllim.dev">Site</a>
            </div>

        </div>

        <div class="content">
            <a href="https://bbqmall.alllim.dev">
            <img src="/resources/images/bbqmall.PNG" alt="이미지" title="클론페이지">
            </a>

            <div class="text-box">
                <h2>No.2 클론페이지 [ BBQ몰 ] </h2>
                <span>팀 프로젝트로 만들게된 것은 'BBQ몰'의 클론 페이지 입니다. 저의 역할은 회원가입, 로그인, 고객 센터 등의 사용자 관련 서비스였습니다.
                            클론 대상 선정 단계에서 특정 기능을 제외하고는 충분히 구현할 수 있는 사이트를 목표로 삼아 프로젝트 완성률을 높이는 것을 우선으로 생각했습니다.
                            클론 과정 속에서 이용자들을 위한 개발자의 숨은 디테일이 많겠구나라는 것을 느꼈습니다.
                            추가적으로 기존 사이트에서 확인해 볼 수 없는 관리자 상품 관리 모드를 추상하여 구현해 보았습니다.


                            </span>
                <p>기존역할:고객 서비스(가입,수정,탈퇴), 고객센터(질문,답변), 관리자모드(상품등록,조회,수정,삭제) </p>
                <p>역할 추가: 메인화면,디자인,검색,페이징,이미지(저장/불러오기),플로팅 배너,top버튼,반응형 웹</p>
                <a href="https://github.com/limPage/publicBBQmall">Github</a>
                <a href="https://bbqmall.alllim.dev">Site</a>

            </div>

        </div>
            <div class="content">
                <a href="https://www.alllim.dev" >
                <img src="/resources/images/landing2.PNG" alt="이미지" title="랜딩페이지2">
                </a>

                <div class="text-box">
                    <h2>No.3 랜딩페이지2 </h2>
                    <span>처음 랜딩 페이지를 만들면서 '잘 만들어야지'라는 생각에 정작 취지에 맞지 않는 결과물을 만들었다고 느꼈습니다.
                            목적에 맞게 만드는게 중요하다는 것을 깨닫고 중요 정보만 전달하게끔 다시 만들어 보았습니다.
                            </span>
                    <a href="https://github.com/limPage/publicLandingPage">Github</a>
                    <a href="https://www.alllim.dev">Site</a>

                </div>


            </div>

        <div class="content">
            <a href="https://api.alllim.dev" >
                <img src="/resources/images/share.PNG" alt="이미지" title="랜딩페이지2">
            </a>

            <div class="text-box">
                <h2>No.4 위치 공유 Demo</h2>
                <span>open api를 사용하여 위치전송 페이지를 만들어 보았습니다.
                            </span>
                <a href="https://github.com/limPage/api-demo">Github</a>
                <a href="https://api.alllim.dev">Site</a>

            </div>


        </div>

        </div>

    <div class="button-container">



        <span class="spring"></span>

        <input id="btnTop" type="button" onclick="window.scrollTo(0,0);" value=" ▲ ">

    </div>

</main>


</body>
</html>