@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");


html{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;


}

*{
    font-size: 20px;

    font-weight: 600;
    list-style: none;
    padding: unset;
    margin: unset;
}


h3{margin: 0;}

body .title{
    border-bottom: cadetblue 2px solid;
    background-color: darkseagreen;
    color: #00512e;
    margin: 1rem 0;
    border-radius: 0.25rem;
}

body{
    max-width: 50rem;
    overflow: hidden auto;
    padding: 2rem;
    margin: 2rem 0;
    background-color: rgba(136,187,255,0.82)
}

body>main{

    box-shadow: 5px 0 10px 10px rgba(0,0,0,0.3);
    background-color: white;

}

body>main>div:not(.button-container){
    margin: 0.25rem;
}

/*상단 버튼*/
body>main>.button-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkcyan;
    padding: 0.5rem;
    color: white;
}
body>main>.button-container>.hello-world{
    font-size: 0.8rem;
}


body>main>.button-container>span{
    padding: 0 0.5rem;
    margin: 0;

}
/*상단이동 버튼*/
body>main>.button-container>#btnTop{
    border: unset;
    background-color: transparent;
    color: white;
    cursor: pointer;
}


body>main>.button-container>.spring{
    flex: 1;
}


body>main>div>div{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

p,span{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

/*자기소개*/
body>main>.about-me-container>.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body>.main>.about-me-container>.content>img{
    height: 10rem;
    width: 8.5rem;
    border-radius: 0.3rem;
    filter: opacity(95%);
    margin-right: 1rem;
    /*box-shadow: 0 0 5px 5px rgba(0,0,0,0.4);*/
}
/*연락처*/
body>.main>.contact-container>div>a{
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: black;
}
/*스킬*/
body>.main>.skill-container img{
        max-height: 1rem;
        max-width: 1rem;

}
/*프로젝트*/
body>.main>.project-container img{
    max-width: 100%;
    min-width: 100%;
    border: 0.0625rem solid black;
    margin-bottom: 0.5rem;
}
body>.main>.project-container>.content{
    padding: 1rem 0.5rem  1rem 0.5rem;
    border-bottom: 2px dashed rgba(0,0,0,0.5);

}


body>.main>.project-container>.content>.text-box>a{
    display: block;
    color: black;
    font-weight: 500;
}
